/*Main site deco*/

body {

    background-image: linear-gradient(rgb(255, 0, 242), rgb(44, 197, 243), rgb(9, 194, 9));
    
}

header {

    background-color: rgb(255, 255, 255);
    border-style: groove;
    border-color: black;
    border-width: 5px;
    border-radius: 100px;
    text-align: center;
    
}

/*Floats*/

#float1 {

    width: 300px;
    height: 450px;
    position: relative;
    background-color: white;
    border-color: black;
    border-style: groove;
    border-width: 5px;
    border-radius: 10px;
    top: 105px;
    left: 350px;
}

/*Menu*/

.overlay {

    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.overlay a {

    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {

    color: #f1f1f1;
}

.overlay .closebtn {

    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    text-align: center;
    }
  }

/*Text deco*/

.hoofdtext {

    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}   

.hoofdtext2 {

    font-size: 30px;
    text-align: center;

}

.text {

    font-size: 23px;
    margin: 2px;

}

/*Overig*/

#broek {

    width: 500px;
    height: auto;
    position: relative;
    left: 360px;
    border-radius: 10px;
    border-color: black;
    border-style: groove;
    border-width: 5px;
    bottom: 263px;
}

#stad {

    width: 700px;
    height: auto;
    position: relative;
    top: 180px;
    left: 400px;
    border-width: 5px;
    border-style: groove;
    border-color: #000000;
    border-radius: 30px;
}


